message.dtd

<!ELEMENT messages (message*)>

<!ELEMENT message (param*)>
	<!ATTLIST message name ID #REQUIRED>
	<!ATTLIST message id CDATA #REQUIRED>

<!ELEMENT param EMPTY>
	<!ATTLIST param name CDATA #REQUIRED>
	<!ATTLIST param offset CDATA #REQUIRED>
	<!ATTLIST param length CDATA #REQUIRED>
	<!ATTLIST param type (error | message | torque | rotation | id | iq) #REQUIRED>
	<!ATTLIST param motor (right | left) #REQUIRED>
	<!ATTLIST param fixpoint CDATA "-1">
