message.dtd

<!ELEMENT messages (command*)>

<!ELEMENT message (param*)>
	<!ATTLIST message name ID #REQUIRED>
	<!ATTLIST message id CDATA #REQUIRED>

<!ELEMENT param EMPTY>
	<!ATTLIST param name CDATA #REQUIRED>
	<!ATTLIST param offset CDATA #REQUIRED>
	<!ATTLIST param length CDATA #REQUIRED>
	<!ATTLIST param type ("errorcode" | "value") #REQUIRED>
	<!ATTLIST param fixpoint CDATA "-1">

